{
    "cmake.generator": "Ninja",
    "cmake.buildDirectory": "${workspaceFolder}/build/${buildType}",
    "cmake.configureSettings":
    {
        // "CMAKE_CXX_FLAGS": "-std=c++20 -fcoroutines", // linux
        // "CMAKE_CXX_FLAGS": "/std:c++20 /EHsc /await", // windows
        // "BUILD_SHARED_LIBS": false,
        // "INC_TEST": true,
        // "CMAKE_TOOLCHAIN_FILE": "D:/vcpkg/scripts/buildsystems/vcpkg.cmake"
    },
}